{{ if eq .chezmoi.os "linux" -}}
{{   if eq .chezmoi.osRelease.id "nixos" -}}
#!/usr/bin/env fish

{{ $files := list "home" "gtk" "shell" "fonts" -}}
{{- range $i, $file_tools := ( list "default" ) -}}{{- $files = append $files ( joinPath "tools" $file_tools ) -}}{{- end -}}
## Nix files to follow hashes
{{- range $i, $file  := $files -}}
{{ $file = list $file ".nix.tmpl" | join "" }}
# {{ $file }} : {{ include ( joinPath "private_dot_config/home-manager" $file ) | sha256sum -}}
{{ end }}

home-manager switch
{{   end -}}
{{ end -}}
