{{- $email := "julienclaisse@orange.fr" -}}
{{- $gpgGitSignKey := "" -}}
{{- $kubePrompt := false -}}
{{- if eq .chezmoi.hostname "EQLT-PH3F5EHL" -}}
{{-   $email = "julien.claisse@equasens.com" -}}
{{-   $kubePrompt = true -}}
{{-   $gpgGitSignKey = "0473CD4D1AFE7EE18AE5D8D79ED3755BB164AB71" -}}
{{- end -}}
{{- if eq .chezmoi.hostname "hp-13x-spectre" -}}
{{-   $gpgGitSignKey = "0B62DD490C0342C3131FFD16D397F971733CD454" -}}
{{- end -}}
{{- if eq .chezmoi.hostname "pc-fix" -}}
{{-   $gpgGitSignKey = "943D799E257B1118AC47620E35C3FFAA8DF32DF4" -}}
{{- end -}}
[diff]
    pager = "delta"
[edit]
    command = "vim"
[data]
    email = {{ $email | quote }}
    kubePrompt = {{ $kubePrompt }}
    gpgGitSignKey = {{ $gpgGitSignKey | quote }}
