{{ if eq .chezmoi.os "linux" -}}
{{   if eq .chezmoi.osRelease.id "nixos" -}}
# Handled fonts to download

{ config, pkgs, ... }:
{
  fonts.fontconfig.enable = true;
  home.packages = [
    (pkgs.nerdfonts.override { fonts = [ "FiraCode" "SourceCodePro" ]; })
  ];
}
{{   end -}}
{{ end -}}
