{{ if eq .chezmoi.os "linux" -}}
{{   if eq .chezmoi.osRelease.id "nixos" -}}
{ config, pkgs, ... }:
{
  gtk.enable = true;

  # Cursor Theme
  gtk.cursorTheme = {
    name = "macOS-BigSur-White";
    package = pkgs.apple-cursor;
    size = 26;
  };

  # GTK Theme
  gtk.theme = {
    name = "WhiteSur-Dark" ;
    package = pkgs.whitesur-gtk-theme.override {
      iconVariant = "apple";
    };
  };

  # GTK extensions
  home.packages = with pkgs; [
    gnomeExtensions.blur-my-shell
    gnomeExtensions.appindicator
    gnome-system-monitor
    gnome-tweaks
  ];
  
  home.sessionVariables.GTK_THEME = "WhiteSur-Dark";
}
{{   end -}}
{{ end -}}
