{{ if eq .chezmoi.os "linux" -}}
{{   if eq .chezmoi.osRelease.id "nixos" -}}
{ config, pkgs, ... }:
{
  gtk.enable = true;

  # Cursor Theme
  gtk.cursorTheme = {
    name = "macOS-BigSur-White";
    package = pkgs.apple-cursor;
    size = 26;
  };

  # GTK extensions
  home.packages = with pkgs; [
    gnomeExtensions.blur-my-shell
    gnomeExtensions.appindicator
    gnome.gnome-system-monitor
  ];
}
{{   end -}}
{{ end -}}
