if status is-interactive
    # Commands to run in interactive sessions can go here
    set -gx EDITOR vim
end

# Disable greetings
set fish_greeting

# Enable starship 
starship init fish | source

# Gen password ? 
function gen_passwd --description "Generate random password"
  if test $argv[1] -gt 0 2> /dev/null 
    LC_ALL=C tr -dc 'A-Za-z0-9!#$%&\-_' </dev/urandom | head -c $argv[1]
  else
    echo Usage : $_ INT
    echo Example : $_ 8
  end
end 

{{- if eq .chezmoi.osRelease.id "nixos" }}

# sourcing nix envs
babelfish < {{ .chezmoi.homeDir }}/.nix-profile/etc/profile.d/hm-session-vars.sh | source 
{{ end -}}
