if status is-interactive
    # Commands to run in interactive sessions can go here
    set -gx EDITOR vim
end

# Disable greetings
set fish_greeting

{{ if eq .chezmoi.osRelease.id "nixos" -}}
# sourcing nix envs
babelfish < {{ .chezmoi.homeDir }}/.nix-profile/etc/profile.d/hm-session-vars.sh | source 

{{ end -}}
# Enable starship 
starship init fish | source
