{{ if eq .chezmoi.os "linux" -}}
{{   if eq .chezmoi.osRelease.id "nixos" -}}
# Default tools
{ config, pkgs, ... }:
{
  imports = [
{{-  if ne .chezmoi.username "root" }}
    ./gui.nix
{{- end }}
  ];

  home.packages = with pkgs; [
    vim
    htop
    wget
    git
    curl
    nmap
    openssl
    chezmoi
    starship
    jq
    yq
    kubectl
    kubectx
    k9s
    fzf
    lsd
    nmap
    bat
    delta
    gnupg
    tty-clock
    libxml2
    python3
    python311Packages.pip
  ];
}
{{   end -}}
{{ end -}}
