{{ if eq .chezmoi.os "linux" -}}
{{   if eq .chezmoi.osRelease.id "nixos" -}}
# Default tools
{ config, pkgs, ... }:
{
  home.packages = with pkgs; [
    vim
    htop
    wget
    git
    curl
    chezmoi
    vscodium
    starship
  ];
}
{{   end -}}
{{ end -}}
