{{ if eq .chezmoi.os "linux" -}}
{{   if eq .chezmoi.osRelease.id "nixos" -}}
# Default GUI tools
{ config, pkgs, ... }:
let 
  pkgsUnstable = import <nixpkgs-unstable> {};
in
{
  home.packages = with pkgs; [
    pkgsUnstable.vscodium
    thunderbird
    firefox
    gimp
    vlc
  ];
}
{{   end -}}
{{ end -}}
